/* @import "tailwindcss"; */

body {
  background-color: #024a70;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  min-height: 100vh;
}
main {
  margin: auto;
}

p, h1, h2, h3, h4, h5, h6, span, a {
  color:oklch(86.9% 0.022 252.894)
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10;
}

.startLink {
  text-decoration: underline;
  transition: all .2s;
}
.startLink:hover {
  opacity: 70%;
  transition: all .2s;
}
